<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="{{path('AdminExam')}}">Edytuj listę egzaminów</a></li>
    <li role="presentation"><a href="{{path('mainPageAdminUserManager')}}">Menadżer Użytkowników</a></li>
    <li role="presentation"><a href="{{path('mainPageAdminGroupManager')}}">Menadżer Grup Użytkowników</a></li>
    <li role="presentation"><a href="#">Rezultaty</a></li>
    <li role="presentation"><a href="#">Zarządzaniem czasem dostępu dla użytkowników</a></li>
</ul>